*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
justify-content: center;
align-items: center;
}
textarea{
    align-items: center;
    width: 100%;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    background-color: aqua;
    padding: 5px;
    width: 100vh;
    text-align: center;
    color: white;
}
.data{
    width: 100vh;
    text-align: center;
    font-size: 1.2rem;
    background-color: blueviolet;
    padding: 10px;
    color: white;
}
.main{
    border: 1px solid black;
}