button{
    margin-left: 50px; 
    text-align: center;
    text-transform: capitalize;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid wheat;
}
.information{
    margin-left: 50px;
    margin-top: 30px;
}
.result{
    margin: 20px;
}
.red{
    background-color: red;
}