body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#stop{
padding: 5px 15px;
margin-right: 10px;
border-radius: 10px;
cursor: pointer;
}
#start{
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}