*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(110, 230, 122);
}
body{
    background-image: url(./nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    margin-top: 20px;
    text-align: center;
    background-color:yellowgreen;
    border-radius: 10px;
}
.box1,.box2{
    margin: 10px;
}
label{
    font-size: 1.2rem;
    font-weight: bold;
    color: aquamarine;
}
input{
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    text-align: center;
    color: black;
    margin-top: 5px;
}